.wrapper{
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center
}
.title{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 30 0 0 0;
}
.container {
    border: 1px solid black;
    border-collapse: collapse;
    height: 18%;
    text-align: center;
    padding: 30 0 60 0;
}
#progress{
    width: 50%;
    display: inline-block;
    overflow: auto
}
#left{
    float:left;
}
#done{
    float:right;
}